<!-- set the background color and span color manually in style css underneath -->
<section>
    <nav>
        <div class="burger-button">
          <span class="burger-top"></span>
          <span class="burger-middle"></span>
          <span class="burger-bottom"></span>
        </div>
        <div class="burger-menu bg-accent flex flex-col items-start justify-center">
        
          {% for item in site.data.navigation.header %}
    
          <a href="{{item.nav_link}}" class="text-nav p-10"> {{item.nav_title}}</a>
    
          {% endfor %}
         
        </div>
      </nav>  
  </section>
  



<style>
  
  /* this is where you style the button if you want to add more space between the spans than add padding to this div but make sure you also add it to the top and bottom active classes on there top/bottom or else your cross wont line up*/
  
  .burger-top, .burger-bottom { position: absolute; }
  .burger-top                 { top: -02px;         }
  .burger-bottom              { bottom: -02px;      }
  
  
  /* make sure this has the same top as the burger button has padding*/
  .burger-button.active .burger-top{
    position: absolute;
    top: 8px;
    transform: rotateZ(45deg);
  }
  
  .burger-button.active .burger-middle{

    border-color: rgba(0,0,0,0);
    background-color:rgba(0,0,0,0);
  }
  
  /* make sure this has the same bottom as the burger button has padding*/
  
  .burger-button.active .burger-bottom{
    position: absolute;
    bottom: 8px;
    transform: rotateZ(-45deg);
  }
  

  /* burger & nav items fade in animation  */

  .burger-menu a {
    white-space:nowrap;
    opacity: 0;
    transition: opacity 0.5s linear 1s, color 0.1s;
  }
  
  .burger-menu.active  { top: 0;             }
  .burger-menu.active a  {
    transition: opacity 2s linear 1s, color 0.1s;
    opacity: 1;
  }

  
  .burger-menu.active {
      opacity: 1;
      pointer-events: auto;
  }



/* DECIDE ON DESKTOP OR MOBILE OR BOTH */


 @media (max-width: 768px) {


  .burger-button {
        top: 42px;
        right: 12px;
    }

  .burger-button span {  width: 35px!important; }

  /* change colour of span */

  .burger-button.active span {
            border-color: #3C573F;
            background-color: #3C573F;
        }


  .burger-menu {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1001;
    width: 100vw;
    left: 0;
    right: 0;
    transition: opacity;
    transition-duration: 1s;
    pointer-events: none;
  }

  .burger-menu.active {
      left: 0;
      right: 0;
      opacity: 1;
      pointer-events: auto;
  }

}

/* comment out if you want on desktop also */

@media (min-width: 768px) {
    .burger-button {
    display: none!important;
  }
}

/* desktop burger style */

  
.burger-menu {  
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1001;
    width: 33vw;
    right: 0;
    left: 67vw;
    float: right;
    opacity: 0;
    transition: opacity;
    transition-duration: 0.5s;
    pointer-events: none;
}
  
.burger-button {
    display: block;
    position:fixed;
    top: 32px;
    right: 20px;
    z-index: 10000!important;
    padding: 8px;
  }

  .burger-button span {
    width: 25px;
    border: 1px solid #222;
    background-color: #222;
    display: block;
    border-radius: 22px;
    z-index: 20;
    transition-duration: 0.5s;
  }
  

/* change colour of span */

  /* .burger-button.active span{
    border-color: white;
    background-color: white;
  } */



  
  </style>
  
  
  <script>
   
    const burgerButton = document.querySelector('.burger-button');
    const burgerMenu = document.querySelector('.burger-menu');
  
    function toggleBurger() {
      burgerButton.classList.toggle('active');
      burgerMenu.classList.toggle('active');
    }
  
    burgerButton.addEventListener('click', toggleBurger)
  
  
  </script>