---
layout: default
page_blocks:
  - _id: text
    title: A NELLE SIGNATURE HAIR-STYLE
    text_html: >-
      <p>The '90s are back and better than ever. However, you don't need us to
      tell you that. Everything from bouncy hair to chic, preppy fashion styles
      is what we are all trying to recreate &amp; we are here for
      it.</p><p>&nbsp;</p><p>No one does bouncy curly hair like women in the
      90s. They showed us how it was really done. We're here to tell you how you
      can achieve this effortless look in under 20 minutes (thank us
      later).</p><p>&nbsp;</p><p>&nbsp;A hairstyle that will transition from day
      to evening. This style is our go-to if you want something that will last a
      few days. Don't mind us looking like we have woken up in a salon. If you
      are blessed enough to have hair that holds a curl, then you are in for a
      real treat.</p><p>&nbsp;</p><p>This is a look we
      <strong><em>swear</em></strong> by &amp; have never looked back since.
      Call it a <strong>NELLE</strong> signature look, and we can't wait for you
      to jump on the bandwagon.</p><p>&nbsp;</p><p>Here is how we create big
      bouncy curls using our most used tool..heated
      rollers.</p><p>&nbsp;</p><p><em>We know hair wash day is planned in our
      calendar 2 months in advance. It takes serious scheduling, so it's best to
      wash your hair the day before for the ultimate
      curl.</em></p><p>&nbsp;</p><h3>PREP YOUR HAIR</h3><p>Prep your hair with
      heat spray &amp; shine spray. The secret to a perfect curl starts with the
      prep. If you have flat hair, we recommend adding a volumising spray to add
      that extra sass.</p><p>&nbsp;</p><h3>APPLY ROLLERS</h3><p>Once the rollers
      have heated, separate your hair into sections. Apply your rollers to each
      section of hair. For a wavy curl, use larger sections of hair. If you
      prefer a tighter curl, apply to smaller segments close to the root. Use
      this time to make a start on your makeup or to prepare the
      cocktails.</p><p>&nbsp;</p><h3>LET THE ROLLERS WORK THEIR
      MAGIC</h3><p>Leave your hair in the rollers until they feel cool to touch.
      Twenty minutes is our recommended time. Remove one roller first to see if
      you need to leave it any longer.</p><p>&nbsp;</p><h3>REMOVE</h3><p>The fun
      part. Removing the rollers, don't worry. They will
      drop.</p><p>&nbsp;</p><h3>TOP TIP</h3><p>If you have the time, once you
      have taken your rollers out, place them in pin curls &amp; allow the hair
      to set for a couple of hours. Pin-curling your hair will provide longevity
      to your new go-to look, meaning you can flick your hair all
      night.</p><p>&nbsp;</p><h3>SET, SPRAY, PARTAY</h3><p>Set the curls with
      hairspray to avoid the disappointment of them slowly dropping throughout
      the night (cries).</p><p>&nbsp;</p><p>The blowdry-inspired look..without
      the blowdry.</p><p>&nbsp;</p><p>We would love to see pictures of you
      recreating this look. Tag us for a chance to be featured on our social
      media #NELLEBEAUTY.</p><p>&nbsp;</p>
    column_count: 1
---


{% for block in page.page_blocks %}
     {% include /blocks/{{block._id}}.html %}
{% endfor %}
