    
<!--[ INSERT METADATA FOR FAVICON FILES ] -->





<!--[ GOOGLE OR ADOBE FONT LINKS ] -->





<!--[ DELETE IF NOT REQUIRED ] -->

<!-- fancybox popup for lighbox galleries   -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" media="print" onload="this.media='all'; this.onload=null;"/>

<!-- video player -->

<link rel="stylesheet" href="https://cdn.plyr.io/3.7.3/plyr.css" />
<link rel="stylesheet" href="{{ '/dist/main.css' | relative_url }}">

<!-- slick -->


