<style>

    .menu-border {
      border-bottom: 0.01rem solid white;
    
    }
    
    .burger-section {
        z-index: 1001;
    }
    
    .mt-overhang-mini {
      margin-top: 1rem;
      margin-right: -1rem;
      margin-left: -1rem;
      padding: 1rem;
    }
    
    .mt-overhang-mini {
      margin-top: 0rem;
      margin-right: -1rem;
      margin-left: -1rem;
      padding: 1rem;
    }
    
    /* this is where you style the button if you want to add more space between the spans than add padding to this div but make sure you also add it to the top and bottom active classes on there top/bottom or else your cross wont line up*/
    
    .menu-p{
      position:absolute;
      bottom:-2rem;
    }
    
    .burger-button {
      position:fixed;
      top: 60px;
      right: 30px;
      z-index: 1002;
      padding: 8px;
    }
    
    /* this is where you can change the colour of the burger buttons */
    .burger-button span {
      width: 30px;
      border: 1px solid black;
      background-color: black;
      display: block;
      border-radius: 22px;
      z-index: 20;
      transition-duration: 0.5s;
    }
    .burger-button.active span{
      border-color: white;
      background-color: white;
    }
    
    .burger-top, .burger-bottom{
      position: absolute;
    }
    
    .burger-top{
      top: -02px;
    }
    
    .burger-bottom{
      bottom: -02px;
    }
    /* make sure this has the same 'top' as the .burger-button has padding */
    .burger-button.active .burger-top{
      position: absolute;
      top: 8px;
      transform: rotateZ(45deg);
    }
    
    .burger-button.active .burger-middle{
    /*   transform: rotateZ(270deg); */
      border-color: rgba(0,0,0,0);
      background-color:rgba(0,0,0,0);
    }
    
    /* make sure this has the same bottom as the burger button has padding*/
    
    .burger-button.active .burger-bottom{
      position: absolute;
      bottom: 8px;
      transform: rotateZ(-45deg);
    }
    
    .burger-menu {
        display: flex;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: black;
        /* padding:0px 10px; */
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        z-index: 1001;
        /* transition:0s; */
        align-content:space-around;
        /* justify-content:space-around; */
        flex-direction:column;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 33vw;
        left: 67vw;
        float: right;
        opacity: 0;
        transition: opacity;
        transition-duration: 0.5s;
        pointer-events: none;
    }
    
    .burger-menu.active{
        opacity: 1;
        pointer-events: auto;
    }
    
    .burger-menu-links {
        margin-top: 100px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    
    .burger-menu-links a {
        text-decoration: none;
        color: white;
        font-family: 'GoodSans-Regular', sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        font-size: ;
        text-align:left;
        white-space:nowrap;
    }
    
    .burger-menu-links a {
        display: inline-block;
        padding: 2rem 1rem;
    }
    
    .burger-menu a:hover {
      color: #e9e3d3;
    }
    
    
    @media (max-width: 768px) {
    
    .logo-header.logo-mobile {
        height: 45px;
        max-width: 550px;
      }
    
      .logo-header, .logo-mobile {
        padding: 0rem;
        margin: 0rem!important;
      }
    
    .burger-menu {
        width: 100vw;
        left: 0;
        right: 0;
        transition: opacity;
        transition-duration: 0.5s;
        pointer-events: none;
      }
    
      .burger-menu.active {
        left: 0;
        right: 0;
        opacity: 1;
        pointer-events: auto;
      }
    
      .burger-menu-links {
        margin-top: 10px;
      }
    
      .burger-button.active span {
        border-color: black;
        background-color: black;
      }
    
      .burger-button {
        top: 27px;
        right: 20px;
      }
    
    .third-width-mob {
        width: 100vw;
      }
    
      .burger-header {
        font-size: 32px;
      }
    }
    
    </style>
    
    <section class="burger-section">
    
      <div class="burger-button">
          <span class="burger-top"></span>
          <span class="burger-middle"></span>
          <span class="burger-bottom"></span>
          <!-- <p class="menu-p">menu</p> -->
      </div>
      <nav>
          <div class="burger-menu relative third-width-mob">
              <div class="md:hidden bg-white left relative mt-overhang-mini">
                  <!-- <h1 class="burger-header"> SITE NAME </h1> -->
                <a href="/index"><img src="https://picsum.photos/id/598/600/400" alt="" class="logo-header logo-mobile"></a>
              </div>
      
              <div class="burger-menu-links">
                {% for item in site.data.navigation.header %}
                  <a href="{{item.nav_url}}" class="menu-border">{{item.nav_title}}</a>
                  {% endfor %}
              </div>
          </div>
      </nav>
    </section>
    
    
    <script>
      $(document).ready(function(){
    
    // jQuery methods go here...
    
    $(".menu-mobile").click(function(){
      $(".sub-menu").toggle();
    });
    
    $(".burger-button").click(function(){
        $(".nav-header-hidden").toggleClass("nav-header-hidden", false);
      $(".burger-button").toggleClass("active");
      $(".burger-menu").toggleClass("active");
    });
    
    
    $(".burger-menu").click(function(){
     $(".nav-header-hidden").toggleClass("nav-header-hidden", false);
     $(".burger-button").toggleClass("active");
      $(".burger-menu").toggleClass("active");
    });
    });
    </script>