---
layout: insta-menu
title: Page Title
seo:
 meta-description: 
 keywords:
 social_image:
 twitter_card:
 twitter_description:
 type: website
 hide-from-google: false
banner_image: /images/brand_logo.png
---

<section class="grid lg:grid-cols-5 md:grid-rows-3 md:h-screen">

    <div style="background-image: url('{{page.banner_image}}')" class="lg:col-span-2 md:row-span-1 bg-cover bg-center lg:h-screen md:h-auto h-0 w-full"></div>
        
    
    <div class="p-5 md:p-0 md:row-span-2 bg-blue lg:col-span-3 flex flex-col items-center justify-center text-center h-screen md:h-auto lg:h-screen">

        <!-- Add brand logo here -->
        <img src="/images/brand_logo.png" alt="Logo" class="mt-4 md:mt-0 md:h-32 h-24 object-center object-cover mx-auto">

        <h2 class="md:mt-16 mt-8 font-serif text-3xl lg:w-[60%] md:w-[75%] w-full mx-auto">Add some text here about the business</h2>

        <p class="md:mt-2 mt-10 md:mb-10">Be the first to hear about my website launch by subscribing to my newsletter.</p>

        <!-- Add newsletter signup -->

        <!-- End newsletter signup -->

        </div>
</section>