<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--------------------- SEO Metadata ----------------------->
    <title>
        {{ page.title | default: site.data.site-settings.seo.title }}
      </title>
      <meta name="description" content="{{ page.seo.meta-description | default: site.data.site-settings.seo.meta-description }}">
      <meta name="keywords" content="{{ page.seo.keywords | default: site.data.site-settings.seo.keywords }}">

      {% if page.seo.hide-from-google == true %}
          <meta name="robots" content="noindex, nofollow">
      {% else %}
          <meta name="robots" content="index, follow">
      {% endif %}

    <!--------------------- Meta for social sharing ----------------------->
      <meta property="og:title" content="{{ page.title | default: site.data.site-settings.seo.title }}">
      <meta property="og:type" content="{{ page.title | default: site.data.site-settings.seo.type }}">
      <meta property="og:description" content="{{ page.seo.description | default: site.data.site-settings.seo.description }}"> 
      <meta property="og:image" content="{{ page.seo.social_image | default: site.data.site-settings.seo.social_image }}">
      <meta property="og:url" content="{{ site.url }}{{ page.url }}">
      <meta name="twitter:card" content="{{ page.seo.twitter_card | default: site.data.site-settings.seo.twitter_card }}">
      <meta name="twitter:description" content=" {{ page.seo.twitter_description | default: site.data.site-settings.seo.twitter_description}} ">
      <meta name="og:site_name" content="{{ site.data.site-settings.seo.site_name }}">
    
    <!--------------------- Project Specific Code for Head ----------------------->

    {% include default/head-includes.html %}

    <!--------------------- Google Analytic ----------------------->

    {{site.data.site-settings.technical.google-analytics_embed}}

  <!--------------------- Font Awesome Version 6 for icons ----------------------->
    <script src="https://kit.fontawesome.com/5ecc7ac9fc.js" crossorigin="anonymous"></script>

    <!--------------------- Custom Stylesheet ----------------------->
    
    <link rel="stylesheet" href="{{ '/dist/main.css' | relative_url }}">

 </head>


<body>
  <!--------------------- Insert Desktop Header ----------------------->

  <!-- desktop -->

  {% include headers/header-base.html %}

  <!-- mobile -->

  {% include headers/burger-icon.html %}



  <!--------------------- Brand Colours ----------------------->

   {% include default/inline-styles.html %}

  <!--------------------- Body ----------------------->

    {{content}}

  <!--------------------- Instagram Embed Widget ----------------------->

  {% if site.data.site-settings.technical.instagram_widget_embed %}

  <section class="p-5 md:p-10">
      <h4 class="title-sm"> <a target="_blank" href="https://www.instagram.com/{{site.data.site-settings.social.instagram_username}}"> {{ site.data.site-settings.social.instagram_username }} </a>

      {{site.data.site-settings.technical.instagram_widget_embed }}

  </section>

  {% endif %}

  <!--------------------- Insert Footer ----------------------->


  {% include /sliders/press-slider.html %}
  {% include footers/logo-center.html %}

</body>


  <!--------------------- Site Wide Javascript ----------------------->

  <!-- Add jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

  <!-- Custom javascript style -->
  <script src="/javascript/scripts.js" defer></script>

    <!-- Slick slider JS -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>

</html>